body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
}

.container {
  display: flex;
  align-items: center;
  
}
.description {
  margin-left: 50px;
  
}
.container img{
  width: 350px;
height: 350px;
}